/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

.main-container {
  @include column-container;
  margin: 5rem .5rem auto auto;
  gap: 1rem;
}

.c-container {
  @include column-container;
  gap: 1rem;
  width: 90%;
  background-color: #b6c4eb;
  border-radius: 20px;
  padding: 0.8rem;
}

.c-container h1 {
  font-size: 1.7em;
  margin-top: 1rem;
  font-weight: bold;
}

.c-container h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.c-container h3 {
  font-size: 1.25rem;
  text-align: center;
}

.c-container p {
  font-size: 1rem;
  text-align: justify;
}
