/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

.table {
  background-color: #fff;
  border-radius: 10px;
  font-family: $fonts;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table th {
  font-size: 1.1rem;
  text-align: center;
}

.table td {
  font-size: 1rem;
  text-align: center;
}
