/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */


@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

@import 'variables';
@import 'mixins';
@import 'containers';
@import 'tables';

body {
  font-family: $fonts;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
  gap: 0.8rem;
}

.footer h1 {
  font-size: 1.2rem;
  color: #fff;
}

.modal-content {
  background-color: #b6c4eb;
  font-family: $fonts;
}

.btn-primary {
  background-color: #0A58CA;
  border: solid 1px #fff;
}

.btn-success {
  background-color: #ffc340;
  border: solid 1px #fff;
}

.form-label {
  font-family: $fonts;
}

.navbar {
  font-family: $fonts;
  font-size: 1.2rem;
}
